.alog-header {
  
}

ul.alog-date-boxes,
ul.yearly-date-boxes {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom:0.5rem;
  /* background: #f3f3f3;
  padding: 1rem 5rem;
  margin: 1rem -5rem 1rem; */
}

li.alog-day {
  width: 30px;
  border: 3px solid;
  text-align: center;
  margin: 3px;
}

li.alog-day-sm {
  width: 15px;
  height: 15px;
  border: 1px solid;
  margin: 1px;
  background: rgba( 0,0,0,0.2 );
  /* border-radius: 2px; */
}

li.alog-today {
  border-color: green;
  color: green;
  background: rgba( 0, 255, 0, 0.3 );
}

li.alog-current {
  border-color: orange;
  color: orange;
  background: rgba( 255, 175, 0, 0.3 );
}

li.alog-complete {
  background: green;
}

li.alog-future {
  opacity: 0.5;
}

li.alog-day-sm.alog-future {
  background: none;
}

.alog-entry-editable {
  border: 1px dashed black;
}

.alog-entry-editable.active {
  border: 1px solid gainsboro;
}

.alog-entry-content {
  height: 50vh;
}