.alog-header {
  
}

#alog-calendar {
  position: relative;
  margin: 1rem -3rem;
  padding: 1rem 3rem;
  background: #f7f7f7;
}

#alog-calendar-prev,
#alog-calendar-next {
  background: transparent;
  padding: 0;
  /* position: absolute;
  left: -5%;
  top: 50%; */
  font-weight: normal;
}

#alog-calendar-next {
  float: right;
  text-align: right;
}

#alog-calendar .page-title.points {
  position: absolute;
  top: 1rem;
  right: 3rem;
}

#alog-calendar .taxonomy-description.quote {

}

.alog-nav-header {
  position: relative;
}

.alog-nav-container {
  position: absolute;
  top: 0;
  right: 0;
}

ul.alog-nav {
  list-style: none;
}
ul.alog-nav li {
  display: inline;
  margin-left: 10px;
}

ul.alog-date-boxes,
ul.yearly-date-boxes {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* background: #f3f3f3;
  padding: 1rem 5rem;
  margin: 1rem -5rem 1rem; */
}

ul.alog-date-boxes li,
li.alog-day {
  width: 25px;
  height: 30px;
  line-height: 2;
  border: 3px solid;
  text-align: center;
  margin: 2px;
  font-size: 0.75rem;
}

li.alog-day-sm {
  width: 15px;
  height: 15px;
  border: 1px solid;
  margin: 1px;
  background: rgba( 0,0,0,0.2 );
  /* border-radius: 2px; */
}

li.alog-today {
  border-color: green;
  color: green;
  background: rgba( 0, 255, 0, 0.3 );
}

li.alog-current,
a.alog-has-post {
  width: 100%;
  height: 100%;
  display: block;
  color: orange;
  background: rgba( 255, 175, 0, 0.3 );
}

li.alog-complete {
  background: green;
}

li.alog-future {
  opacity: 0.5;
}

li.alog-day-sm.alog-future {
  background: none;
}

small.log-half {
  background: rgba(255, 175, 0, 0.3);
  padding: 1px 3px;
  border-radius: 3px;
}

small.log-success {
    background: rgba(0, 255, 0, 0.3);
    padding: 1px 3px;
    border-radius: 3px;
}

.alog-entry-editable {
  border: 1px dashed black;
}

.alog-entry-editable.active {
  border: 1px solid gainsboro;
}

.alog-entry-content {
  height: 50vh;
}